.header {
    display: flex;
    position: relative;
    align-items: center;

    .iconArrow {
        width: 35px;
        height: 35px;
        cursor: pointer;
        display: block;
        position: absolute;
        left: 15px;
        top: 20px;
        z-index: 10;
        fill: rgba($color: #ffff, $alpha: 0.8);
    }

    .logo {
        width: 100%;
        background-color: #681205;
        height: 70px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 130px;
            height: 40px;
            z-index: 11;
        }
    }
}
