.container {
    width: 100vw;
    height: 100vh;

    padding: 40px 10px 0 10px;

    h1 {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    form {
        h3 {
            font-size: 24px;
            font-weight: 500;
            margin-top: 35px;
            margin-bottom: 5px;
        }

        .main {
            input {
                display: block;
                width: 90%;
                font-size: 24px;
                margin: 10px auto;
                border: none;
            }

            select {
                width: 90%;
                font-size: 24px;
                margin: 0 auto;
                display: block;
            }
        }

        .akkord {
            div {
                display: flex;
                margin: auto;
                justify-content: center;

                input {
                    width: 60%;
                    font-size: 24px;
                    margin-right: 5%;
                    border: none;
                }

                button {
                    font-size: 14px;
                    width: 25%;
                }
            }

            span {
                width: 90%;
                margin: 20px auto;
                display: block;
            }
        }

        .notes {
            input {
                display: block;
                width: 90%;
                margin: 10px auto;
                font-size: 24px;
                border: none;
            }

            button {
                width: 90%;
                margin: 0 auto;
                display: block;
                font-size: 24px;
                border: none;
            }

            .noteArray {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
                text-align: center;
                margin: 50px 0;

                div {
                    position: relative;
                }

                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 80px;
                    object-fit: cover;
                    border: 3px solid orange;
                }

                span {
                    display: block;
                    margin-top: 5px;
                }

                p {
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    z-index: 10;
                }
            }

            .noteType {
                margin-top: 50px;
            }
        }

        .notes + button {
            width: 80%;
            display: block;
            margin: 40px auto;
            font-size: 18px;
        }

        .viewNote {
            h3 {
                text-align: center;
                margin-bottom: -30px;
            }
        }

        .noteArray {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            text-align: center;
            margin: 50px 0;

            div {
                position: relative;
            }

            img {
                width: 80px;
                height: 80px;
                border-radius: 80px;
                object-fit: cover;
                border: 3px solid orange;
            }

            span {
                display: block;
                margin-top: 5px;
            }

            p {
                position: absolute;
                top: -5px;
                right: -5px;
                z-index: 10;
            }
        }

        .noteType {
            margin-top: 50px;
        }

        button[type='submit'] {
            width: 90%;
            height: 50px;
            font-size: 24px;
            font-family: 500;
            display: block;
            margin: 30px auto;
        }
    }
}
